<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Label</key>
	<string>evebot.char.skillqueue</string>
	<key>ProgramArguments</key>
	<array>
		<string>/bin/sh</string>
		<string>broadcast-skillqueue.sh</string>
	</array>
	<key>ServiceDescription</key>
	<string>EVEbot Skill Queue</string>
	<key>StartCalendarInterval</key>
	<array>
		<dict>
			<key>Hour</key>
			<integer>7</integer>
			<key>Minute</key>
			<integer>55</integer>
		</dict>
		<dict>
			<key>Hour</key>
			<integer>19</integer>
			<key>Minute</key>
			<integer>55</integer>
		</dict>
	</array>
	<key>WorkingDirectory</key>
	<string>ABSOLUTE_PATH_TO_REPO_ROOT</string>
</dict>
</plist>
