<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Label</key>
	<string>evebot.irccat</string>
	<key>ProgramArguments</key>
	<array>
		<string>/usr/bin/ant</string>
		<string>-Dconfigfile=../irccat.xml</string>
		<string>run</string>
	</array>
	<key>RunAtLoad</key>
	<true/>
	<key>ServiceDescription</key>
	<string>EVEbot Market</string>
	<key>WorkingDirectory</key>
	<string>ABSOLUTE_PATH_TO_REPO_ROOT</string>
</dict>
</plist>
